html {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #333333;
  min-height: 100vh;
  color: #333333;
}

* {
  margin: 0;
}

hr {
  border-color: #333333;
}

p {
  font-size: 20px;
  font-weight: 400;
  color: #333333;
}

img:hover {
  transform: scale(1.02);
  transition-property: all;
  transition-duration: 0.5s;
}
img {
  transform: scale(1);
  transition-property: all;
  transition-duration: 0.5s;
  max-width: 100%;
}

.navbar .active {
  background-color: #b1a592;
  color: #333333;
  border-color: transparent;
}

.navbar {
  margin: 18px;
  padding: 6px;
  display: flex;
  gap: 11px;
  border: 1px solid #b1a592;
  border-radius: 50px;
}

.navbar button {
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: 400;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #b1a592;
  color: #b1a592;
  background-color: transparent;
  transform: scale(1);

  transition-property: all;
  transition-duration: 0.5s;
}

.navbar button:hover {
  background-color: #565346;
  color: #b1a592;
  border-color: transparent;
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 0.5s;
}

.navbar .active {
  background-color: #b1a592;
  color: #333333;
  border-color: transparent;
}

main {
  display: flex;
  gap: 18px;
  padding-left: 35px;
  padding-right: 42px;
}

.city {
  flex: 38%;
  background-color: #dfd6c5;
  border-radius: 30px;
  padding: 33px 18px;
}

.mobileMenu {
  display: none;
}

@media screen and (max-width: 900px) {
  main {
    flex-direction: column;
  }

  .navItemLg {
    display: none;
  }

  .mobileMenu {
    display: block;
  }

  .mainLink {
  width: -webkit-fill-available !important;
  }

}

.woShake {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 500px) {
  .woShake {
    flex-direction: column;
  }
}

.city button,
.mom button,
.shake button {
  border-radius: 50px;
  padding: 5px 30px;
  background-color: transparent;
  border: 1px solid #565346;
  font-size: 20px;
  font-weight: 300;
}

.city h1 {
  padding-top: 10px;
  padding-bottom: 18px;
  text-decoration: underline;
}

.city hr {
  margin-top: 47px;
  margin-bottom: 18px;
}

.right {
  flex: 62%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.mom {
  flex: 100%;
  background-color: #8e886d;
  border-radius: 30px;
  padding: 33px 18px;
}

.mom h1 {
  padding-top: 10px;
  padding-bottom: 23px;
}

.mom p {
  font-size: 20px;
  font-weight: 400;
}

.mom hr {
  margin-top: 23px;
  margin-bottom: 18px;
}

.momFlex {
  display: flex;
}

.momContent {
  flex: 46%;
}

.momImg {
  flex: 54%;
}

.momImg img {
  width: 100%;
}

.women {
  flex-grow: 4;
  background-color: #916e58;
  border-radius: 30px;
  padding: 12px 10px;
}

.women h1 {
  padding-top: 18px;
  padding-bottom: 14px;
  text-decoration: underline;
  font-size: 36px;
  font-weight: 700;
}

.women hr {
  margin-top: 26px;
  margin-bottom: 25px;
}

.womenImg {
  width: 100%;
}

.shake {
  flex-grow: 6;
  background-color: #b1a48e;
  border-radius: 30px;
  padding: 50px 18px 46px;
}

.shake h1 {
  padding-top: 36px;
  padding-bottom: 10px;
  text-decoration: underline;
  font-size: 36px;
  font-weight: 700;
}

.shake hr {
  margin-top: 39px;
  margin-bottom: 25px;
}

.shakeFlex {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.city .footer {
  padding-bottom: 10px;
}

.women .footer {
  padding-bottom: 34px;
}

.footer p {
  font-size: 1.5rem;
  font-weight: 400;
}
